#  Manipulação de Arquivos e dados em Python

## Pandas

In [106]:
import pandas as pd
import numpy as np

In [107]:

lispoktab=pd.read_html( "https://pt.wikipedia.org/wiki/Lista_de_epis%C3%B3dios_de_Pok%C3%A9mon")

In [108]:
len(lispoktab)

54

In [109]:
lispoktab[1]

   Temporada               Geração                    Título nos EUA  \
   Temporada Temporada.1   Geração                    Título nos EUA
0        NaN          01  Primeira                     Indigo League
1        NaN          02  Primeira  Adventures in the Orange Islands
2        NaN          03   Segunda                The Johto Journeys
3        NaN          04   Segunda            Johto League Champions
4        NaN          05   Segunda                      Master Quest
5        NaN          06  Terceira                          Advanced
6        NaN          07  Terceira                Advanced Challenge
7        NaN          08  Terceira                   Advanced Battle
8        NaN          09  Terceira                   Battle Frontier
9        NaN          10    Quarta                 Diamond and Pearl
10       NaN          11    Quarta                  Battle Dimension
11       NaN          12    Quarta                  Galactic Battles
12       NaN          13    Quarta             Sinnoh League Victors
13       NaN          14    Quinta                     Black & White
14       NaN          15    Quinta                   Rival Destinies
15       NaN          16    Quinta               Adventures in Unova
16       NaN          16    Quinta    Adventures in Unova and Beyond
17       NaN          17     Sexta                                XY
18       NaN          18     Sexta                       Kalos Quest
19       NaN          19     Sexta                               XYZ
20       NaN          20    Sétima                        Sun & Moon
21       NaN          21    Sétima                  Ultra Adventures
22       NaN          22    Sétima                     Ultra Legends
23       NaN          23    Oitava                          Journeys
24       NaN          24    Oitava                   Master Journeys
25       NaN          25    Oitava                 Ultimate Journeys
26       NaN    Especial    Oitava            To Be a Pokémon Master
27       NaN          26      Nona                          Horizons

                  Titulo no Brasil Episódios              \
                  Titulo no Brasil Episódios Episódios.1
0                      Liga Índigo        82          82
1      Aventuras nas Ilhas Laranja        36          36
2                  A Jornada Johto        41          41
3           Campeões da Liga Johto        52          52
4                     Master Quest        65          65
5                         Avançado        40          40
6                 Desafio Avançado        52          52
7                 Batalha Avançada        54          54
8             Batalha da Fronteira        47          47
9                Diamante e Pérola        52          52
10             Batalha Dimensional        52          52
11             Batalhas Galácticas        53          53
12       Vencedores da Liga Sinnoh        34          34
13                  Preto e Branco        50          50
14                 Destinos Rivais        49          49
15              Aventuras em Unova        25          45
16  Aventuras em Unova e Mais Além        20          45
17                              XY        49          49
18                Desafio em Kalos        44          44
19                             XYZ        47          47
20                       Sol e Lua        43          43
21                 Ultra Aventuras        49          49
22                    Ultra Lendas        54          54
23                        Jornadas        48          48
24              Jornadas de Mestre        42          42
25               Jornadas Supremas        46          46
26                  Mestre Pokémon        11          11
27                      Horizontes        24          24

         Exibição original
                   Estreia                   Final
0       1 de abril de 1997   21 de janeiro de 1999
1    28 de janeiro de 1999    7 de outubro de 1999
2    14 de outubro de 1999     27 de julho de 2000
3      3 de agosto de 2000     2 de agosto de 2001
4      9 de agosto de 2001  14 de novembro de 2002
5   21 de novembro de 2002    28 de agosto de 2003
6    4 de setembro de 2003   2 de setembro de 2004
7    9 de setembro de 2004  29 de setembro de 2005
8     6 de outubro de 2005  14 de setembro de 2006
9   28 de setembro de 2006   25 de outubro de 2007
10   8 de novembro de 2007   4 de dezembro de 2008
11   4 de dezembro de 2008  24 de dezembro de 2009
12    7 de janeiro de 2010   9 de setembro de 2010
13  23 de setembro de 2010  15 de setembro de 2011
14  22 de setembro de 2011    4 de outubro de 2012
15   11 de outubro de 2012     18 de abril de 2013
16     25 de abril de 2013  26 de setembro de 2013
17   17 de outubro de 2013   30 de outubro de 2014
18   6 de novembro de 2014   22 de outubro de 2015
19   29 de outubro de 2015   3 de novembro de 2016
20  17 de novembro de 2016  21 de setembro de 2017
21    5 de outubro de 2017   14 de outubro de 2018
22   21 de outubro de 2018   3 de novembro de 2019
23  17 de novembro de 2019   4 de dezembro de 2020
24  11 de dezembro de 2020  10 de dezembro de 2021
25  17 de dezembro de 2021  16 de dezembro de 2022
26   13 de janeiro de 2023     24 de março de 2023
27     14 de abril de 2023                presente

In [110]:
df=lispoktab[1]

In [111]:


df.columns

MultiIndex([(        'Temporada',        'Temporada'),
            (        'Temporada',      'Temporada.1'),
            (          'Geração',          'Geração'),
            (   'Título nos EUA',   'Título nos EUA'),
            ( 'Titulo no Brasil', 'Titulo no Brasil'),
            (        'Episódios',        'Episódios'),
            (        'Episódios',      'Episódios.1'),
            ('Exibição original',          'Estreia'),
            ('Exibição original',            'Final')],
           )

In [112]:
df.columns=[segunda for (primeira, segunda) in df.columns]

In [113]:
df.columns

Index(['Temporada', 'Temporada.1', 'Geração', 'Título nos EUA',
       'Titulo no Brasil', 'Episódios', 'Episódios.1', 'Estreia', 'Final'],
      dtype='object')

In [114]:
df2=df[[ 'Temporada.1', 'Geração', 'Título nos EUA',
       'Titulo no Brasil', 'Episódios.1', 'Estreia', 'Final']]

In [115]:
df2.columns=['Temporada', 'Geração', 'Título nos EUA',
       'Titulo no Brasil', 'Episódios', 'Estreia', 'Final']

In [116]:
df2

,Temporada,Geração,Título nos EUA,Titulo no Brasil,Episódios,Estreia,Final
0,01,Primeira,Indigo League,Liga Índigo,82,1 de abril de 1997,21 de janeiro de 1999
1,02,Primeira,Adventures in the Orange Islands,Aventuras nas Ilhas Laranja,36,28 de janeiro de 1999,7 de outubro de 1999
2,03,Segunda,The Johto Journeys,A Jornada Johto,41,14 de outubro de 1999,27 de julho de 2000
3,04,Segunda,Johto League Champions,Campeões da Liga Johto,52,3 de agosto de 2000,2 de agosto de 2001
4,05,Segunda,Master Quest,Master Quest,65,9 de agosto de 2001,14 de novembro de 2002
5,06,Terceira,Advanced,Avançado,40,21 de novembro de 2002,28 de agosto de 2003
6,07,Terceira,Advanced Challenge,Desafio Avançado,52,4 de setembro de 2003,2 de setembro de 2004
7,08,Terceira,Advanced Battle,Batalha Avançada,54,9 de setembro de 2004,29 de setembro de 2005
8,09,Terceira,Battle Frontier,Batalha da Fronteira,47,6 de outubro de 2005,14 de setembro de 2006
9,10,Quarta,Diamond and Pearl,Diamante e Pérola,52,28 de setembro de 2006,25 de outubro de 2007
10,11,Quarta,Battle Dimension,Batalha Dimensional,52,8 de novembro de 2007,4 de dezembro de 2008
11,12,Quarta,Galactic Battles,Batalhas Galácticas,53,4 de dezembro de 2008,24 de dezembro de 2009
12,13,Quarta,Sinnoh League Victors,Vencedores da Liga Sinnoh,34,7 de janeiro de 2010,9 de setembro de 2010
13,14,Quinta,Black & White,Preto e Branco,50,23 de setembro de 2010,15 de setembro de 2011
14,15,Quinta,Rival Destinies,Destinos Rivais,49,22 de setembro de 2011,4 de outubro de 2012
15,16,Quinta,Adventures in Unova,Aventuras em Unova,45,11 de outubro de 2012,18 de abril de 2013
16,16,Quinta,Adventures in Unova and Beyond,Aventuras em Unova e Mais Além,45,25 de abril de 2013,26 de setembro de 2013
17,17,Sexta,XY,XY,49,17 de outubro de 2013,30 de outubro de 2014
18,18,Sexta,Kalos Quest,Desafio em Kalos,44,6 de novembro de 2014,22 de outubro de 2015
19,19,Sexta,XYZ,XYZ,47,29 de outubro de 2015,3 de novembro de 2016
20,20,Sétima,Sun & Moon,Sol e Lua,43,17 de novembro de 2016,21 de setembro de 2017
21,21,Sétima,Ultra Adventures,Ultra Aventuras,49,5 de outubro de 2017,14 de outubro de 2018
22,22,Sétima,Ultra Legends,Ultra Lendas,54,21 de outubro de 2018,3 de novembro de 2019
23,23,Oitava,Journeys,Jornadas,48,17 de novembro de 2019,4 de dezembro de 2020
24,24,Oitava,Master Journeys,Jornadas de Mestre,42,11 de dezembro de 2020,10 de dezembro de 2021
25,25,Oitava,Ultimate Journeys,Jornadas Supremas,46,17 de dezembro de 2021,16 de dezembro de 2022
26,Especial,Oitava,To Be a Pokémon Master,Mestre Pokémon,11,13 de janeiro de 2023,24 de março de 2023
27,26,Nona,Horizons,Horizontes,24,14 de abril de 2023,presente

## Perguntas

Quantas regiões diferentes existem?

In [32]:
len(set(df2["Geração"]))

9

Quantos dias durou cada Geração?

In [119]:
gb=df2.groupby("Geração")

In [120]:

gb["Geração"].count()

Geração
Nona        1
Oitava      4
Primeira    2
Quarta      4
Quinta      4
Segunda     3
Sexta       3
Sétima      3
Terceira    4
Name: Geração, dtype: int64

In [121]:
gb.groups

{'Nona': [27], 'Oitava': [23, 24, 25, 26], 'Primeira': [0, 1], 'Quarta': [9, 10, 11, 12], 'Quinta': [13, 14, 15, 16], 'Segunda': [2, 3, 4], 'Sexta': [17, 18, 19], 'Sétima': [20, 21, 22], 'Terceira': [5, 6, 7, 8]}

In [122]:
dftemp=gb.get_group('Nona')

In [123]:
dftemp["Final"]

27    presente
Name: Final, dtype: object

In [124]:
def substituir_meses(texto):
    meses_ingles = ["january", "february", "march", "april", "may", "june",
                    "july", "august", "september", "october", "november", "december"]
    meses_portugues = ["janeiro", "fevereiro", "março", "abril", "maio", "junho",
                       "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"]

    texto = texto.lower()

    for mes_ing, mes_pt in zip(meses_ingles, meses_portugues):
        texto = texto.replace(mes_pt, mes_ing)

    return texto

# Testando a função
texto = "i was born on april 23, 1990 and my sister was born on december 5, 1995."
texto_traduzido = substituir_meses(texto)
print(texto_traduzido)

i was born on april 23, 1990 and my sister was born on december 5, 1995.

In [125]:
from datetime import datetime

# Suponha que você tenha uma string de data no formato '1 de abril de 1997'
data_string = '1 de abril de 1997'
data_string_eng=substituir_meses(data_string)

# Use strptime para converter a string em um objeto datetime
data_objeto = datetime.strptime(data_string_eng, '%d de %B de %Y')

# Agora data_objeto é um objeto datetime representando a data 1 de abril de 1997
print(data_objeto)

1997-04-01 00:00:00

In [126]:
from datetime import datetime

# Obtendo a data e hora atual
agora = datetime.now()

# Formatando a data e hora no formato desejado
data_formatada = agora.strftime("%d de %B de %Y")

print(data_formatada)

20 de November de 2023

In [127]:
def gera_data(data_string):
  if data_string=="presente":
    data=datetime.now()
  else:
    data_string_eng=substituir_meses(data_string)
    data=datetime.strptime(data_string_eng, '%d de %B de %Y')

# Use strptime para converter a string em um objeto datetime
  return data

In [135]:
for group in gb.groups:
  dftemp=gb.get_group(group)
  size=len(dftemp)
  delta=gera_data(dftemp["Final"].iloc[size-1])-gera_data(dftemp["Estreia"].iloc[0])
  print(("{Temporada} lasted for {days} days.").format(Temporada=group, days=delta.days))

Nona lasted for 220 days.
Oitava lasted for 1223 days.
Primeira lasted for 919 days.
Quarta lasted for 1442 days.
Quinta lasted for 1099 days.
Segunda lasted for 1127 days.
Sexta lasted for 1113 days.
Sétima lasted for 1081 days.
Terceira lasted for 1393 days.

## Exercícios

-Gere um dataframe com as Temoradas e suas durações. Encontre a mais longa, a mais curta e a duração média.

## Exemplo Tenis

In [38]:
%%sh

git clone https://github.com/ipython-books/cookbook-data.git
cd cookbook-data
unzip tennis.zip

Archive:  tennis.zip
  inflating: data/Andy-Murray.csv
  inflating: data/Novak-Djokovic.csv
  inflating: data/Rafael-Nadal.csv
  inflating: data/Roger-Federer.csv

Cloning into 'cookbook-data'...

In [96]:
import numpy as np
import pandas as pd
player = 'Roger Federer'
filename = "./cookbook-data/data/{name}.csv".format(name=player.replace(' ', '-'))
df = pd.read_csv(filename)

In [97]:
df

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",05.10.1998,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0
3,1998,"Toulouse, France",28.09.1998,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",Q,...,28.0,3.0,10.0,10.0,44.0,63.0,26.0,67.0,70.0,130.0
4,1998,"Geneva, Switzerland",24.08.1998,CH,Outdoor: Clay,Draw: 32,1,680.0,$520,R32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1174,2012,"Australian Open, Australia",16.01.2012,GS,Outdoor: Hard,Draw: 128,720,3.0,"A$437,000",S,...,49.0,6.0,16.0,21.0,95.0,141.0,51.0,135.0,146.0,276.0
1175,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R32,...,6.0,0.0,0.0,8.0,22.0,45.0,9.0,41.0,31.0,86.0
1176,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",R16,...,17.0,0.0,2.0,9.0,28.0,50.0,11.0,49.0,39.0,99.0
1177,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",Q,...,29.0,4.0,9.0,16.0,47.0,78.0,34.0,95.0,81.0,173.0
1178,2012,"Doha, Qatar",02.01.2012,250,Outdoor: Hard,Draw: 32,90,3.0,"$50,030",S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.columns

Index(['year', 'tournament', 'start date', 'type', 'surface', 'draw',
       'atp points', 'atp ranking', 'tournament prize money', 'round',
       'opponent', 'ranking', 'score', 'stats link', 'tournament.1',
       'tournament round', 'time', 'winner', 'player1 name',
       'player1 nationality', 'player1 aces', 'player1 double faults',
       'player1 1st serves in', 'player1 1st serves total',
       'player1 1st serve points won', 'player1 1st serve points total',
       'player1 2nd serve points won', 'player1 2nd serve points total',
       'player1 break points won', 'player1 break points total',
       'player1 service games played', 'player1 1st serve return points won',
       'player1 1st serve return points total',
       'player1 2nd serve return points won',
       'player1 2nd serve return points total',
       'player1 break points converted won',
       'player1 break points converted total', 'player1 return games played',
       'player1 total service points won',
       'player1 total service points total', 'player1 total return points won',
       'player1 total return points total', 'player1 total points won',
       'player1 total points total', 'player2 name', 'player2 nationality',
       'player2 aces', 'player2 double faults', 'player2 1st serves in',
       'player2 1st serves total', 'player2 1st serve points won',
       'player2 1st serve points total', 'player2 2nd serve points won',
       'player2 2nd serve points total', 'player2 break points won',
       'player2 break points total', 'player2 service games played',
       'player2 1st serve return points won',
       'player2 1st serve return points total',
       'player2 2nd serve return points won',
       'player2 2nd serve return points total',
       'player2 break points converted won',
       'player2 break points converted total', 'player2 return games played',
       'player2 total service points won',
       'player2 total service points total', 'player2 total return points won',
       'player2 total return points total', 'player2 total points won',
       'player2 total points total'],
      dtype='object')

In [99]:
df["winner"] == player

0       False
1        True
2        True
3       False
4       False
        ...
1174    False
1175     True
1176     True
1177     True
1178    False
Name: winner, Length: 1179, dtype: bool

In [100]:
df['win'] = df['winner'] == player
df['win'].tail()

1174    False
1175     True
1176     True
1177     True
1178    False
Name: win, dtype: bool

In [132]:
("{player} has won {vic:.0f}% "
               "of his ATP matches.").format(
                player=player, vic=100*df['win'].mean())

KeyError: ignored

In [102]:
df['dblfaults'] = (df['player1 double faults'] /
                   df['player1 total points total'])

In [103]:
df['dblfaults'].tail()

1174    0.018116
1175    0.000000
1176    0.000000
1177    0.011561
1178         NaN
Name: dblfaults, dtype: float64

In [104]:
gb = df.groupby('year')

In [105]:
gb['dblfaults'].mean()

year
1998    0.021580
1999    0.023588
2000    0.021473
2001    0.017495
2002    0.016521
2003    0.018611
2004    0.013195
2005    0.010575
2006    0.007639
2007    0.007388
2008    0.005887
2009    0.010379
2010    0.009185
2011    0.009136
2012    0.009365
Name: dblfaults, dtype: float64

**Exercício:**

1. Construa uma tabela com o número de vitórias e derrotas de Federer para cada tipo de terreno.